body {
  color: white;
  background: black;
  margin: 0px;
  font-family: 'Oswald';
  margin-bottom: 100px;
}

header {
  border-bottom: solid 2px #89afae;
  padding: 20px;
  font-size: 36px;
  color: white;
}

.chamada {
  background: #4e715c;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto {
  margin-right: 40px;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

img {
  height: 105px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 5px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover{
  opacity: 1.0;
  border: 1px solid white;
}

.categoria h2{
  color: white;
}